  /* Estilo general para el cuerpo */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el contenedor del formulario */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
}

/* Estilo para los encabezados */
h1 {
    text-align: center;
    color: #0066cc;
    margin-bottom: 20px;
}

/* Estilo para las etiquetas */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Estilo para los campos de entrada */
input[type="text"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para el campo de la lista de especialidades */
input[list] {
    width: 100%;
}

/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

/* Efecto al pasar el ratón por el botón */
input[type="submit"]:hover {
    background-color: #004d99;
}

/* Estilo para los <datalist> */
datalist {
    width: 100%;
}